<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Arayuz.master.cs" Inherits="OyuncakKovasiWebApp.Arayuz" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Oyuncak Kovası</title>
    <link href="Assets/css/ArayuzStil.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="sayfaTasiyici">
            <div class="headerTasiyici">
                <h2>Oyuncak Kavası <small style="font-size: 10pt; font-weight: 400;">Bu Kovada Oyun Var</small> </h2>
                <asp:Panel ID="pnl_girisyok" runat="server" class="uyegiris">
                    <a href="GirisYap.aspx" class="girisyapbutton">Giriş Yap</a>
                    <a href="uyeOl.aspx" class="uyeolbutton">Üye Ol</a>
                </asp:Panel>
                <asp:Panel ID="pnl_girisVar" runat="server" CssClass="uyegiris" Visible="false">
                     <asp:LinkButton ID="lbtn_cikis" runat="server" CssClass="girisyapbutton" OnClick="lbtn_cikis_Click">Çıkış Yap</asp:LinkButton>
                    <asp:Label ID="lbl_uye" runat="server" CssClass="uyeolbutton"></asp:Label>
                </asp:Panel>
                <div style="clear: both"></div>
            </div>
            <div class="anaMenuTasiyici">
                <asp:Repeater ID="rp_kategoriler" runat="server">
                    <ItemTemplate>
                        <a href="#"><%# Eval("Isim") %></a>
                    </ItemTemplate>
                </asp:Repeater>
            </div>
            <div class="icerikTasiyici">
                <main class="makaleler">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </main>
                <aside class="reklamAlani">
                    <a href="https://www.turhost.com/r/104820/hosting">
                        <img src="Assets/Reklamlar/160x600.gif" />
                    </a>
                </aside>
                <div style="clear: both"></div>
            </div>

        </div>
        <div class="altkisim">
           <%-- <div class="sayfaTasiyici">
                Deneme bıdı bıde
            </div>--%>
        </div>
    </form>
</body>
</html>
